/*
 * Copyright 2014-2017 Adrien 'Litarvan' Navratil
 *
 * This file is part of Slark.

 * Slark is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Slark is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Slark.  If not, see <http://www.gnu.org/licenses/>.
 */

#container {
    padding: 25px;
    text-align: center;
}

#whitelist {
    color: black;
    box-shadow: 0 0 10px 5px black;
    text-align: left;
}

#whitelist i {
    padding-right: 7px;
}

#whitelist a {
    color: black;
}

#whitelist a:hover {
    cursor: pointer;
}

#buffer {
    display: none;
}

.preloader-wrapper {
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.btn-floating {
    background-color: #00c6e5;
    position: absolute;
    bottom: 17.5px;
    right: 15px;
}
