/*
 * Copyright 2014-2017 Adrien 'Litarvan' Navratil
 *
 * This file is part of Slark.

 * Slark is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Slark is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Slark.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    background: #222831;
}

.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

#right-block {
    padding: calc(45vh - 280px / 2) 65px 65px;
}

#left-block {
    padding-top: calc(45vh - 400px / 2);
}

#left-block {
    text-align: center;
    color: white;
}

#right-container {
    background: white;
    border-radius: 7.5px;
}

#right-content {
    color: black;
    padding: 10px;
    text-align: center;
}

#right-content span {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

#right-content form {
    padding-top: 12.5px;
}

#right-content input[type=submit] {
    width: 100%;
}

#right-content .row {
    margin: 0;
}

#right-content a {
    margin: 0;
    text-decoration: none;
}

#left-content {
    padding: 25px;
}

#slark {
    width: 57.5vh;
    margin-bottom: 10px;
}

#login {
    margin-top: 10px;
    margin-bottom: 7px;
}

#error {
    font-size: 12.5px;
    color: red;
}